# Build artifacts
build/
*.build
dist/
*.dist
_version.py
*.bin
nuitka-crash-report.xml

# Installed dependencies
.venv/

# Caches
.task/
.*_cache/
__pycache__/
*.py[oc]

# Instance-specific data and config
config.toml
instance/
